# Bỏ qua dữ liệu cục bộ của các Container (Bắt buộc)
pg_data/
minio_data/
qdrant_data/
backend/temp_images/

# Bỏ qua các file ảnh tạm sinh ra trong quá trình test
*.jpg
*.jpeg
*.png

# Bỏ qua file rác hệ thống và python cache
__pycache__/
*.pyc
.DS_Store
.env
