# ========================
# BO QUA FILE MOI TRUONG
# ========================
.env
.env.*

# ========================
# BO QUA THU MUC NODE/PYTHON
# ========================
node_modules/
__pycache__/
*.pyc
.pytest_cache/
venv/
env/

# ========================
# BO QUA DOCKER VOLUMES (QUAN TRONG)
# ========================
# Khong duoc day Database va anh khach hang len Git
pg_data/
qdrant_data/
minio_data/
backend/temp_images/
temp_images/

# ========================
# BO QUA FILE BUILD CUA REACT
# ========================
frontend-kiosk/dist/
frontend-admin/dist/

# ========================
# BO QUA FILE HE THONG
# ========================
.DS_Store
Thumbs.db
