# Data cua cac Container (Tuyet doi khong push len Github)
pg_data/
minio_data/
qdrant_data/
backend/temp_images/

# File bao mat
.env

# Python va he dieu hanh
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
.DS_Store
Thumbs.db

# Anh va video rac luc test
*.jpg
*.jpeg
*.png
*.mp4
